/* フォントを設定 */
body {
  font-family: "Arial", "Meiryo", sans-serif
}
/* ルート要素のフォントサイズを20pxに変更 */
html {
  font-size: 20px;
}
/* フォントカラーの変更 */
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203) ;
}
/* h1の装飾 */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 200%;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114)
}
/* その他の装飾 */
body {
  text-align: center;
}
#basic p {
  font-weight: bold;
}